<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961054493199-625jvjmot6cim228vi003i6fd5t2ggnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961054493199-625jvjmot6cim228vi003i6fd5t2ggnc</string>
	<key>API_KEY</key>
	<string>AIzaSyCd5NAKxkW3v5fN1npnay8zhgwRWkqTaw4</string>
	<key>GCM_SENDER_ID</key>
	<string>961054493199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.swapxchange</string>
	<key>PROJECT_ID</key>
	<string>swapxchange-bc2c8</string>
	<key>STORAGE_BUCKET</key>
	<string>swapxchange-bc2c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961054493199:ios:e7f56b86e983fd7841717a</string>
</dict>
</plist>